@media (max-width: 1000px) {
   main {
      width: 90vw;
   }


   /* contact */

   form {
      padding: 20px 10%;
   }

   .contact p {
      margin: 0 25px 0 0;
      max-width: 80%;
   }


   /* about */

   .about-grid {
      grid-gap: 0;
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
         'img heart'
         'text text'
   }

   .about-creator-img {
      max-width: 100%;
      grid-area: img;
   }

   .about-heart {
      grid-area: heart;
      width: 30px;
      max-width: none;
   }

   .about-text {
      grid-area: text;
   }




   /* blog-list */

   .list-grid .date,
   .list-grid .text {
      display: none;
   }

   .list-grid {
      justify-content: center;
   }


   .list-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0;
      grid-template-areas:
         'list-heading list-heading '
         'list-img list-img'
         'list-button list-button'
      ;
      justify-content: center;
   }

   .list-grid h2 {
      grid-area: list-heading;
      margin-top: 0;
   }

   .list-grid .button {
      grid-area: list-button;
      max-width: none;
      width: 200px;
      background: white;
      position: relative;
      top: -40px;
      text-align: center;

   }

   .list-img-container {
      grid-area: list-img;

   }

   .list-grid figure {
      height: 250px;
      object-fit: cover;
      margin: 0;
      max-width: 600px;

   }

   .list-grid img {
      height: 250px;
      object-fit: cover;

   }

   .list-container,
   .list-grid a {
      display: grid;
      justify-content: center;
   }



   /* spec-post */

   .spec-content p {
      margin: 2em;
   }
   .sign-off {
      margin: 2em;
   }

   .spec-content figure {
/* 

      margin: 0;
      position: relative;
      left: -5%;
     
      max-width: none;
      max-height: 650px;
*/

 max-width: 100%;
       float: none;
      padding: 0;
display: flex;
      justify-content: center;

   } 

   .spec-content figure img {
      max-width: auto;
      max-height: 400px;
      object-fit: cover;

      

   }



   .modal figure img {
      max-width: 800px;
   }
   .modal figure {
      margin:0;
   }
}