@media (max-width: 1000px) {
   main {
      width: 90vw;
   }


   /* contact */

   form {
      padding: 20px 10%;
   }

   .contact p {
      margin: 0 25px 0 0;
      max-width: 80%;
   }


   /* about */

   .about-grid {
      grid-gap: 0;
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
         'img heart'
         'text text'
   }

   .about-creator-img {
      max-width: 100%;
      grid-area: img;
   }

   .about-heart {
      grid-area: heart;
      width: 30px;
      max-width: none;
   }

   .about-text {
      grid-area: text;
   }




}