@media (max-width: 1000px) {
   main {
      width: 90vw;
   }


   /* contact */

   form {
      padding: 20px 10%;
   }

   .contact p {
      margin: 0 25px 0 0;
      max-width: 80%;
   }


   /* about */
    

}