.carousel-content p {
    display: none;
}

.carousel-content figure {
    padding: 0;
    margin: 0;
}

.carousel-content img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;

}



/* from video */

.slider-container {
    position: relative;
    overflow-x: hidden;
    height: 420px;
}

.slider-width {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    left: 0;
    top: 0;
    transition: 0.8s ease-in-out;
    padding: 0%;
    width: 300%;
}

.item {
    background-color: rgb(255, 255, 255);
    width: 7.5%;
    height: 400px;
    margin: 0 0.4%;
}



/* piler */
.btn {
    cursor: pointer;
    font-size: 3em;
    padding: 0 1em;
}
.arw-nav {
    display: flex;
    justify-content: center;
}


